@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.truculenta-regular{
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color:lightgoldenrodyellow
}

.inicio{
    background-image: url("https://s2.glbimg.com/FgE62RQv7LsF6d4kk6I03Gk8qZE=/512x320/smart/e.glbimg.com/og/ed/f/original/2018/05/30/kafka.jpg");
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-position: center;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 35px;
    -webkit-text-stroke: 1px black;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 60px;
}

table{
    text-align: center;
    vertical-align: top;
}

.texto-1{
    font-family: "Truculenta", sans-serif;
    color: gray;
    text-align: justify;
    padding-right: 50px;
}

.texto-2{
    font-family: "Truculenta", sans-serif;
    color: gray;
    text-align: justify;
    padding-left: 50px;
}

.imagem-table{
    height: 400px;
    border: 4px solid black;
}

figcaption{
    font-family: "Oswald", sans-serif;
}


.titulo-livros{
    background-image: url("https://images.saatchiart.com/saatchi/795351/art/3117193/2187084-WIJMKTGA-7.jpg");
    filter: grayscale();
    font-family: "Oswald", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: cover;
    background-attachment: fixed;
    text-align: center;
    color: lightgoldenrodyellow;
    padding: 35px;
    -webkit-text-stroke: 1px black;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 60px;
}

.lista{
    display: inline-block;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.livros{
    display: flex;
    flex-wrap:wrap;
    color: gray;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
}

.livros li{
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 7px;
    font-family: "Truculenta", sans-serif;
}

dt{
    font-family: "Oswald", sans-serif;
    color: black;
}
